.button, #reset-btn {
    padding: 10px 20px;
    font-size: 18px;
    cursor: pointer;
    transition: transform 0.2s ease-in-out;
}

.button:active {
    transform: scale(1.1);
}

.highlight {
    animation: bounce 0.5s ease-in-out;
}

@keyframes bounce {
    0%, 100% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-10px);
    }
}